*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url('/img/background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.navbar img{
    width: 100px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    /* z-index: 2; */
}

h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;

}

.side{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0;
    top: 0px;

}

.menu{
    /* display: block; */
    display: block;
    margin: 40px auto 0;
    width: 40%;
    cursor: pointer;
}

.social img,.use img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}

.social{
    position: absolute;
    width: 50px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.use{
    position: absolute;
    width: 50px;
    text-align: center;
   bottom: 30px;
}

.bubb img{
    width: 50px;
    animation: bubbles 7s linear infinite;
}

.bubb{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
    
}


@keyframes bubbles{
    0%{
        transform: translateY(0);
        opacity: 0;
        /* visibility: hidden; */
    }
    
    50%{
        /* transform: translateY(0); */
        opacity: 1;
    }

    70%{
        /* transform: translateY(0); */
        opacity: 1;
    }

    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}


.bubb img:nth-child(1){
    animation-delay: 2s;
    width: 70px;

}

.bubb img:nth-child(2){
    animation-delay: 1s;
    width: 25px;
    
}

.bubb img:nth-child(3){
    animation-delay: 4s;
    width: 20px;
    
}

.bubb img:nth-child(4){
    animation-delay: 3s;
    width: 160px;
    
}
.bubb img:nth-child(5){
    animation-delay: 7s;
    width: 55px;
    
}
.bubb img:nth-child(6){
    animation-delay: 5s;
    width: 15px;
    
}
.bubb img:nth-child(7){
    animation-delay: 6s;
    width: 40px;
}