@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,300&family=Lobster&display=swap');



*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2',sans-serif;
}
 /* 766A69 9B908E  E5E5E5 */

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #E5E5E5;
    outline: none;
    font-family: 'Exo 2' , sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    background: #9B908E;
    position: sticky;
    top: 0;
    z-index: 999;
}
.slide-menu{
    display: none;
}

.slide-menu li a{
    font-style: italic;
    font-size: 1.4rem;
    border-radius: 1.5rem 4.5rem;
    padding: 0 15px;
}
.menu{
    
    display: flex;
}

.menu li{
    margin: 0px 30px;
}

.menu li a{
    font-style: italic;
    font-size: 1.4rem;
    border-radius: 1.5rem 4.5rem;
    padding: 0 15px;
}

.menu li a:hover{
    background: #766A69;
}
.slide-menu li a:hover{
    background: #766A69;
}
nav{
    
    width: 90%;
    margin: auto;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem;
    padding: 0 10px;
}

.fa-bars{
    display: none;
    /* transform: rotateZ(180deg); */
}

/* home part */
#home{
    background: #766A69;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img{
    width: 50%;
}

.content{
    width: 50%;
    margin: 0 50px;
}

.img img{
    width: 400px;
    height: 400px;
    border-radius: 8% 48%;
    /* box-shadow: 5px 5px 5px 10px; */
    filter: drop-shadow(2px 4px 6px #9B908E);
}

span{
    font-family: 'Lobster' ,sans-serif;
    color: #E5E5E5;
}

.content h1{
    font-size: 3rem;
    color: #9B908E;
    font-style: italic;
}
.content p{
    font-style: italic;
    font-size: 3rem;
    color: #9B908E;
}

.btn{
    font-size: 1.5rem;
    border-radius: 25px 10px;
    outline: none;
    padding: 5px 16px;
    color: #E5E5E5;
    background: #9B908E;
    margin: 20px 0px;
    cursor: pointer;
}

.icons{
    height: 60px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.icons a{
    font-size: 35px;
    padding: 0px 20px;
    transition: .3s all;
}

.icons a:hover{
    color: sienna;
    font-size: 50px;
}
        /* about section */
#about{
    width: 100vw;
    min-height: 100vh;
}

.image{
    display: flex;
    justify-content: center;
    width: 50%;
}

.image img{
    width: 55%;
    /* height: 500px; */
}

.heading{
    color: #766A69;
    font-size: 40px;
    font-style: italic;
    padding: 100px 0px;
    text-align: center;
}

.heading::after{
    content: "";
    /* border-bottom: 20px; */
    position: absolute;
    /* color: black; */
    width: 88px;
    height: 4px;
    background-color: #766A69;
    transform: translate(-95px, 52px);
}

.wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about{
    width: 50%;
}

.about h3{
    font-style: italic;
    font-size: 30px;
    color: #766A69;
    margin: 10px 0px;
    font-weight: 600;
}
.about p{
    color: #9B908E;
    font-size: 20px;
    font-style: italic;
}

.btn:hover{
    color: aqua;
    background: black;
}

/* skill section */

#skills{
    background: #E5E5E5;
    width: 100%;
    height: 100vh;
}
#skills .heading{
    padding: 100px 0px;
}

.skills{
    width: 50%;
}

.skills h1{
    font-size: 40px;
    color: #766A69;
    font-style: italic;
    margin: 20px 0px;
}

.line{
    width: 70%;
    height: 8px;
    background-color:#9B908E;
    z-index: 999;
    margin: 10px 0px;
}
.fill{
    width: 100%;
    height: 8px;
    background-color: #333;
    display: block;
}

.line1 .fill{
    width: 90%;
}
.line2 .fill{
    width: 80%;
}
.line3 .fill{
    width: 60%;
}
.line4 .fill{
    width: 85%;
}

/* work*/

#contact{
    width: 100vw;
    height: 100vh;
    background: #494f7d;
    border-radius: 200px 0px 0px 0px;
}
#contact .heading{
    color: wheat;
}

    
}
#contact .heading::after{
    /* tansform: translate(-123px, 50px); */
    width: 111px;
    transform: translate(-125px, 50px)
}
.item{
    color: wheat;
    margin: 50px 100px;
    font-style: italic;
}

.form{
    width: 60%;
    color: wheat;
    font-style: italic;
}

.c-detail{
    width: 40%;
}

.form button{
    width: 15%;
    height: 32px;
    cursor: pointer;
    background: none;
    outline: none;
    color: wheat;
    font-size: 17px;
    border-radius: 20px;
    font-style: italic;
}

.i-box input{
    width: 50%;
    background: no-repeat;
    border: 2px solid wheat;
    outline: none;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0px;
    padding: 10px;
}

.i-box textarea{
    width: 50%;
    background: no-repeat;
    border: 2px solid wheat;
    outline: none;
    border-radius: 10px;
    height: 100px;
    margin: 10px 0px;
    color: wheat;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
    padding: 10px;
}

.item h2{
    padding: 5px 0px;
}
footer{
    background: #766A69;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
footer p{
    font-size: 20px;
    color: #E5E5E5;
    padding-bottom: 10px;
}











@media screen and (max-width:950px){
    .slide-menu{
        /* display: none; */
        flex-direction: column;
        height: 100vh;
        width: 300px;
        background: #766A69;
        align-items: center;
        /* justify-content: space-evenly; */
        position: absolute;
        top: 0;
        right: 0;
        padding: 100px;   
        /* visibility: hidden;  */
        display: none;
        /* opacity: 0; */
    }

    .menu{
        display: none;
    }


    .fa-bars{
        display: block;
        cursor: pointer;
        z-index: 1000;
        font-size: 25px;
        color: #E5E5E5;
    }
    .fa-times{
        transform: rotateZ(180deg);
    }
    .nav-toggle{
        /* opacity: 1; */
        visibility: hidden;
    }

    .slide-menu li{
        padding-bottom: 100px;
        padding-top: 30px;
    }
    /* home */
    #home{
        flex-flow: column-reverse;
    }

    .content{
        text-align: center;
        margin: 50px;
    }

    .content h1{
        font-size: 2rem;
    }

    .content p{
        font-size: 2rem;
        /* text-align: center; */
    }

    .icons{
        /* text-align: center; */
        justify-content: center;
    }

    .img img{
        width: 100%;
        height: 100%;
    }

    .wrapper{
        flex-direction: column;
    }

    .image img{
        width: 70%;
    }

    .image{
        width: 100%;
    }
    .about{
        /* margin: 20px 0px; */
        width: 90%;
    }
    .about h3{
        text-align: center;
    }

    .about a{
        display: flex;
        justify-content: center;
    }

    #skills .heading{
        padding: 50px 0px
    }

    .line{
        width: 100%;
    }
    #contact .heading{
        padding: 50px 0px;
    }

    .c-detail{
        display: none;
    }

    .i-box{
        margin: 25px 0px;
    }

    .i-box input{
        width: 100%;
    }

    .i-box textarea{
        width: 100%;
    }

    .form button{
        width: 30%;
    }

    

}